#wrapper.points
  .row
    .small-12.large-4.small-centered.columns
      %img.points{:src=>"img/points_logo.jpg"}
      %form{:id => "signup", :action => "points", :method => "POST"}
        %h4 Signup for amazingly cheap travel alerts!
        %input{:type => "text", :name => "name", :id => "name", :placeholder => "name"}
        %input{:type => "text", :name => "phone_number", :id => "phone_number", :placeholder => "phone number"}
        %input.small.success.button.expand{:type => "submit", :name => "submit", :value => "Get alerts"}